body, ul {
    margin: 0;
}

body {
    font-family: MS UI Gothic;
}


html {
    scroll-behavior: smooth;
}

#landingDiv {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
}

.nameWeb {
    float: left;
    color: white;
    font-family: MS UI Gothic;
    margin: 40px;
    margin-left: 50px;
    font-size: 30pt
}



.socialNetwork ul li {
    float: right;
    display: inline-block;
    list-style: none;
    color: white;
    margin-right: 30px;
    margin-top: 30px;
}



ul li {
    list-style: none;
    margin: 0 15px;
}

    ul li a {
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        font-size: 30px;
        color: white;
        transition: .5s;
    }

        ul li a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #FF0E7A;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }

        ul li a:hover:before {
            background: #171515;
            transform: scale(1.2);
            box-shadow: 0 0 15px #FF0E7A;
            filter: blur(3px);
        }

        ul li a:hover {
            color: #ffa502;
            box-shadow: 0 0 15px #FF0E7A;
            text-shadow: 0 0 15px #FF0E7A;
        }

        ul li a:active {
            background-color: #ffffff2b;
        }

#ProductDesigner {
    width: 70%;
    text-align: center;
    font: MS UI Gothic;
    font-size: 65pt;
    color: white;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Projects {
    margin: 0 auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #FF0E7A;
    height: 300px;
    padding-right: 120px;
    padding-left: 120px;
    text-align: center;
}

.fadeIn {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#Projects h3, #allProjects h3 {
    color: #FF0E7A;
    font-family: Brillia Calligraphy;
    font-size: 50pt;
    margin-bottom: 10px;
}

#Projects a, .cv a {
    font: MS UI Gothic;
    text-decoration: none;
    color: #FF0E7A;
    border: 1.5px solid #FF0E7A;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: bold;
}


    #Projects a:hover, .cv a:hover {
        color: white;
    }

    #Projects a:active, .cv a:active {
        background-color: rgba(255, 14, 122, 0.5);
    }



.crossFadeBtn {
    display: inline-block;
    padding: 16px 28px;
    border: 2px black solid;
    text-align: center;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    -webkit-transition: color 0.75s ease-in-out;
    transition: color 0.75s ease-in-out;
    z-index: 1;
    border-radius: 0px;
}

    .crossFadeBtn:before, .crossFadeBtn:after {
        content: '';
        position: absolute;
        top: 0;
        left: -25%;
        width: 150%;
        height: 100%;
        background: rgba(255, 14, 122, 0.5);
        -webkit-transition: -webkit-transform 0.75s ease-in-out;
        transition: -webkit-transform 0.75s ease-in-out;
        transition: transform 0.75s ease-in-out;
        transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
        z-index: -1;
    }

    .crossFadeBtn:before {
        -webkit-transform: translate3d(100%, 0, 0) skew(20deg);
        transform: translate3d(100%, 0, 0) skew(20deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .crossFadeBtn:after {
        -webkit-transform: translate3d(-100%, 0, 0) skew(20deg);
        transform: translate3d(-100%, 0, 0) skew(20deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    .crossFadeBtn:hover {
        color: #ff0e7a;
    }

        .crossFadeBtn:hover:before, .crossFadeBtn:hover:after {
            -webkit-transform: translate3d(0, 0, 0) skew(20deg);
            transform: translate3d(0, 0, 0) skew(20deg);
        }

#about {
    margin: 0 auto;
    display: flex
}

    #about h3 {
        margin-top: 130px;
    }

.cv {
    float: left;
    width: 130px;
    margin-left: 20%;
}

    .cv h3 {
        font-size: 60pt;
    }

    .cv p {
        margin-top: -70px;
        font-size: 20pt;
        width: 200px;
    }




.aboutMe p {
    line-height: 30pt;
    color: white;
    font-size: 16pt;
}

.aboutMe {
    position: relative;
    left: 80px;
    top: 100px;
    width: 500px;
    margin: 50px;
    background: #1C1D1D;
    padding: 30px;
    border-radius: .4em;
}

    .aboutMe:after {
        content: '';
        position: absolute;
        top: 10%;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-top-color: #1C1D1D;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -60px;
    }


.hideme {
    opacity: 0;
}


#allProjects {
    display: block;
    width: 90%;
    /*transform: translate(0%, 50%);*/
    margin-top: 200px !important;
    margin: 0 auto;
    text-align: center;
}




.shadowEffect {
    box-shadow: 0 19px 18px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0.20);
}


.row {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.column {
    width: 35%;
    height: 15%;
    justify-content: space-between;
    margin: 0 auto;
    margin: 50px;
    border-radius: 20px;
    background-color: #FAFAFA;
    z-index: 0;
    display: inline-block;
    height: 0;
}



.appear {
    visibility: hidden;
    opacity: 0;
    text-align: left;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14pt;
}

.column img {
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.column h4 {
    display: block;
    text-align: left;
    color: #ff0e7a;
    font-weight: bold;
    font-size: 16pt;
    margin: 10px;
}

.column a {
    text-decoration: none;
    color: #171515;
}

    .column a:active {
        color: #ff0e7a96;
    }

.prev1:hover .appear, .prev2:hover .appear, .prev3:hover .appear, .prev4:hover .appear {
    visibility: visible;
    opacity: 1;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.prev1:hover, .prev2:hover, .prev3:hover, .prev4:hover {
    height: 100%;
    transition: height 0.4s linear;
    z-index: 10;
    margin-bottom: -30px;
}

.prev1:active, .prev2:active, .prev3:active, .prev4:active {
    box-shadow: 0;
}


footer p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16pt;
}

/*until here desktop style
*/



@media only screen and (max-width:800px) {
    /* For tablets: */


    #landingDiv {
        width: 100%;
    }

    #ProductDesigner {
        font-size: 50pt;
        width: 70%;
        top: 25%;
    }

    #Projects {
        top: 65%;
        left: 50%;
    }

    .cv {
        margin-left: 10%;
    }

    .aboutMe {
        top: 180px;
        left: 0%;
    }

        .aboutMe:after {
            top: -13%;
            left: 20%;
            border: 40px solid transparent;
            border-left: 40px;
            border-bottom-color: #1c1d1d;
        }

    #about h3 {
        margin-top: 80px;
    }

    #allProjects {
        margin-top: 300px !important;
    }

    .column {
        display: block;
        width: 470px;
        height: 520px;
        margin: 0 auto;
        margin-bottom: 40px;
        border-radius: 20px;
        background-color: #FAFAFA;
        z-index: 0;
    }

        .column img {
            width: 95%;
        }

    .prev1:hover, .prev2:hover, .prev3:hover, .prev4:hover {
        height: 110%;
    }

    .column h4 {
        z-index: -10;
    }



        .column h4:after {
            content: " ";
            z-index: 11;
            display: inline-block;
            margin-left: 15px;
            margin-bottom: 2px;
            width: 8px;
            height: 8px;
            border-top: 2px solid #ff0e7a;
            border-left: 2px solid #ff0e7a;
            transform: rotate(225deg);
        }


            .column h4:after:active {
                border-top: 2px solid #ffa502;
            }
}

@media only screen and (max-width:615px) {
    .aboutMe:after {
        top: -8%;
        left: 35%;
        border: 40px solid transparent;
        border-left: 40px;
        border-bottom-color: #1c1d1d;
    }
}


@media only screen and (max-width:500px) {
    /* For mobile phones: */

    #ProductDesigner {
        font-size: 45pt;
        top: 25%;
    }

    ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    ul li:nth-child(1) img {
        width: 20px;
    }

    ul li:nth-child(2) img {
        height: 20px;
        width: 30px;
    }

    .socialNetwork ul li {
        margin-right: 10px;
        margin-top: 20px;
    }


    .nameWeb {
        margin-top: 20px;
        margin-left: 25px;
        font-size: 25pt
    }

    #Projects {
        top: 75%;
        left: 50%;
        padding-left: 80px;
        padding-right: 80px;
    }


    .aboutMe {
        top: 175px;
        left: -20px;
        width: 80%;
        margin: 0;
        margin-top: 150px;
    }

        .aboutMe p {
            font-size: 100%;
        }

        .aboutMe:after {
            top: -12%;
            left: 50%;
        }

    #allProjects {
        margin-top: 300px !important;
    }

    .row {
        margin: 0 auto;
        width: 100%;
    }

    .row {
        margin-bottom: 30px;
    }

    .column {
        display: block;
        width: 65%;
        height: 270px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

        .column h4 {
            font-size: 125%;
        }

        .column img {
            width: 95% !important;
        }

    .prev1:hover, .prev2:hover, .prev3:hover, .prev4:hover {
        height: 420px;
    }
}


@media only screen and (max-width:400px) {
    .aboutMe:after {
        top: -8%;
        left: 50%;
    }
}
